@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  line-height: 25px;
  color: #0f0e17;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Abril Fatface', 'Courier New', Courier, monospace;
  margin: 15px 0;
}

.cover-background {
  width: 100%;
  height: 100vh;
  background-image: url('https://i.pinimg.com/564x/58/47/ab/5847ab13094549d2eb984a7157ed5708.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: contrast(95%);
}

.header {
  font-size: 32px;
  font-weight: 500;
  padding: 1rem;
  text-align: center;
  background-color: #ff8906;
  color: #fffffe;
  font-family: 'Abril Fatface', 'Courier New', Courier, monospace;
}

.tab-list {
  display: flex;
  border-radius: 10px;
  background-color: #fffffe;
  border: 1px solid #0f0e17;
  max-width: 80%;
  width: 400px;
  margin: 2rem auto;
  overflow: hidden;
}

.tab-item {
  padding: 0.5rem;
  color: #0f0e17;
  width: 100%;
  height: 100%;
  border-radius: 0;
  border: none;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}

.tab-item:not(:last-child) {
  border-right: 1px solid #0f0e17;
}

.tab-item.active {
  background: #0f0e17;
  color: #fffffe;
}

.component {
  max-width: 450px;
  width: 90%;
  height: fit-content;
  padding: 1rem;
  background: #fffffe;
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0px 5px 10px #b2b2b284;
}

.flex {
  display: flex;
  justify-content: space-between;
}

table {
  width: 95%;
  max-width: 350px;
}

th {
  background-color: #0f0e17;
  color: #fffffe;
}

th:first-child {
  border-top-left-radius: 5px;
}

th:last-child {
  border-top-right-radius: 5px;
}

tr > td {
  text-align: center;
}

.profile-image {
  width: 100px;
  height: 100px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-radius: 5px;
  box-shadow: 0px 3px 10px #b2b2b244;
  overflow: hidden;
  width: 90%;
  margin: 1rem auto;
  font-size: 14px;
}

.card div {
  margin: auto;
  padding: 0 2rem;
  overflow: scroll;
  white-space: nowrap;
  width: 100%;
}
